<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->

<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>

<style type="text/css">

    .blackBg {

        background-color: #333333;
        padding: 10px;
        color: white;

    }

</style>


<body>

<h1>thymeleaf 入门到精通 教程 http://blog.didispace.com/springbootweb/</h1>


<p style="color: red" th:text="${msg}">站位</p>


<h1 th:text="${host}">Hello World</h1>


<p th:text="${bigBook.bookName}">默认 bookName</p>
<p th:text="${bigBook.author}">默认 author</p>
<p th:text="${aab}"></p>

<h2>2.引入URL</h2>
<img th:src="@{asserts/img/bootstrap-solid.svg}" style="width: 100px ;height: 100px;" alt="">

<a th:href="@{https://blog.csdn.net/u012706811/article/details/52185345}">绝对路径</a>
<a th:href="@{/}">相对路径</a>
<a th:href="@{asserts/img/bootstrap-solid.svg}">Content路径,默认访问static下的img文件夹</a>

<h2>3.字符串替换</h2>

<p>很多时候可能我们只需要对一大段文字中的某一处地方进行替换，可以通过字符串拼接操作完成：</p>
<!--<span th:text="Welcome to our application"/>-->
<span class="blackBg" th:text=" 'hello ' +${bigBook.bookName} + 'happy ye..!!~~~' ">spanspafffffn</span>

<p>一种更简洁的方式是：</p>
<span class="blackBg" th:text="|hello ${bigBook.bookName} happy ye..!!~6666~~~~|"></span>

<br/>
<p>当然这种形式限制比较多，|…|中只能包含变量表达式${…}，不能包含其他常量、条件表达式等。</p>
<br>



<h2>4.运算符</h2>
<p>在表达式中可以使用各类算术运算符，例如+, -, *, /, %</p>

<span class="blackBg" th:text="|hello ${bigBook.bookName} happy ye..!!~0~~~~|" th:with="${isEven}=(${count} % 2 == 100)" ></span>
<br/>
<br/>
<br/>
<span class="blackBg" th:text="|hello ${bigBook.bookName} happy ye..!!~1~~~~|"  th:with="${isEven}=(${count} % 2 == 2)"></span>


<br>

<p>逻辑运算符>, <, <=,>=，==,!=都可以使用，唯一需要注意的是使用<,>时需要用它的HTML转义符：</p>
<br>
<span class="blackBg" th:if="${count}>10" th:text="'Execution mode is ' + ( ${!isEven} ? 'Development' : 'Production')">

default

</span>

<br/><br/><br/>





<table>
    <thead>
    <tr>
        <th th:text="#{msgs.headers.name}">Name
        </td>
        <th th:text="#{msgs.headers.price}">Price
        </td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="prod : ${allProducts}">
        <td th:text="${prod.name}">Oranges</td>
        <td th:text="${#numbers.formatDecimal(prod.price,1,2)}">0.99</td>
    </tr>
    </tbody>
</table>


<br>
<br>
<br>
<br>
<br>
<br>
</body>
</html>